<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="white-card">
        <%= link_to "Import from Withings", providers_path, method: :post, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
