<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="white-card text-center" style="float:left">
        <h1>Connect to services</h1>
        <p>Techcare is built to make you change your habits. The service need to access some of your data to set personnalized goals. You selected coach is going to monitor your progress and to give you many tips to succeed.</p>
        <div style="margin: 30px 26%; float: left;">
          <%= link_to "", providers_path, method: :post, class: "logo", style: "background-image: url('/assets/withing-logo.png')" %>
          <a href="#" class="logo" style="background-image: url('/assets/ihealth-logo.png')"></a>
          <a href="#" class="logo" style="background-image: url('/assets/fitbit-logo.png')"></a>
        </div>
      </div>
    </div>
  </div>
</div>
