<div style="background-color: #fff; position: relative; z-index: 1; height: 100%">
  <div class="container">
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
        <div class="white-card text-center providers-card" style="float:left">
          <h1>Connect to services</h1>
          <p>Techcare is built to make you change your habits. The service needs to access some of your data to set personnalized goals. Your coach is going to monitor your progress and to give you many tips to succeed.</p>
          <div style="margin: 30px 14%; float: left;">
            <%= link_to "", providers_path, method: :post, class: "logo",
            style: "background-image: url( #{asset_path 'withing-logo.png'})" %>
            <!-- <a href="#" class="logo" style="background-image: url(image-path('fitbit-logo.png'))"></a> -->
            <a href="#" class="logo" style="background-image: url(<%= asset_path 'ihealth-logo.png' %>)"></a>
            <a href="#" class="logo" style="background-image: url(<%= asset_path 'fitbit-logo.png' %>)"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
