<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="white-card" style="float:left">
        <h1>Connect to services</h1>
        <p>Techcare is built to make you change your habits. The service need to access some of your data to set personnalized goals. You selected coach is going to monitor your progress and to give you many tips to succeed.</p>
        <div class="col-xs-3">
          <%= link_to "Import from Withings", providers_path, method: :post, class: "provider" %>
        </div>
      </div>
    </div>
  </div>
</div>
