/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500|Roboto:100,300,400,500,700");
$base-font: "Open sans", "Helvetica", "sans-serif";
$header-font: "Raleway", "Helvetica", "sans-serif";
$base-font-weight: 300;

// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 15px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #01D48F;
$brand-color-dark: #01A16D;

$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;

// $first-color:;
// $second-color:;
// $third-color:;
// $fourth-color:;

// Blue scale
$blue-dark: darken($blue, 13.5%);

// Gray scale
$gray-darker:     lighten(#000, 13.5%); // #222
$gray-dark:       lighten(#000, 20%);   // #333
$gray:            lighten(#000, 33.5%); // #555
$gray-light:      lighten(#000, 46.7%); // #777
$gray-lighter:    lighten(#000, 59.9%); // #999
$gray-very-light: lighten(#000, 73.1%); // #aaa
$gray-lightest:   lighten(#000, 93.5%); // #eee
