<p>Bonjour <%= @user.first_name %>,</p>
<p>Je suis très heureux de vous accueillir sur techcare. Si vous n'avez pas complété votre inscription, voici ce qu'il reste à faire :</p>
<ol>
  <li>Choisir un coach</li>
  <li>Synchroniser un ou plusieurs objets connectés</li>
  <li>Visualiser ses progrès sur le tableau de bord</li>
  <li>Solliciter le coach et lire ses conseils</li>
</ol>
<p>N'hésitez pas à nous faire part de vos idées ou remarques en cliquant sur l'onglet "feedback" en bas à droite de votre tableau de bord</p>
<p>Portez vous bien ! :-)</p>
<p>William,<br />fondateur de techcare</p>
<p>
  <small>
    <a href="<%= url_for(controller: 'goals', action: 'index', only_path: false, user_id: @user.id) %>">revenir sur techcare</a>
  </small>
</p>
