<table cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF" style="margin-top: 40px; padding-top: 20px;font-size: 0px;max-width: 600px">
  <tr>
    <td>
      <%= link_to root_url, style: "display: block; text-align: center;" do %>
        <%= image_tag("logo-green.png", style: "width: 80px", alt: "") %>
      <% end %>
    </td>
  </tr>
</table>

<table cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF" style="margin-bottom: 40px; padding: 20px; font-family: 'Lato', 'Helvetica', 'sans-serif'; font-size: 16px; color: #777777; max-width: 600px">
  <tr>
    <td>
      Hi <%= @user.first_name %>,<br><br>
      Welcome to TechCare! You have decided to take care of yourself and that is a very positive. Our mission is to empower you to adopt healthy habits. If you have not completed your registration yet please follow the steps below:
      <ol>
        <li>Choose your coach</li>
        <li>Synchronize with your external data</li>
        <li>Check your progress in your dashboard</li>
        <li>Ask your coach and follow his advice.</li>
      </ol>
      Please let me know if you have any idea  or notice about techcare by clicking on the feedback tab located at the right bottom of the website pages.<br><br>
      Take care of yourself ! :-)<br><br>
      William,<br />techcare founder<br><br>
      <small><%= link_to "back to techcare", user_goals_url(@locale, @user) %></small>
    </td>
  </tr>
</table>
