<p>Hi <%= @user.first_name %>,</p>
<p>I am very happy to welcome you on techcare. If you have not completed yet your registration please follow the steps below:</p>
<ol>
  <li>Choose your coach</li>
  <li>Synchronize with your connected devices</li>
  <li>Monitor your progress in your dashboard</li>
  <li>Ask your coach et read his advice</li>
</ol>
<p>Please let me know if you have any idea or notice about techcare by clicking on the feedback tab located at the bottom right of the website pages.</p>
<p>Tech Care ! :-)</p>
<p>William,<br />techcare founder</p>
<p>
  <small>
    <a href="<%= url_for(controller: 'goals', action: 'index', only_path: false, user_id: @user.id) %>">back to techcare</a>
  </small>
</p>
