<p>Hi <%= @user.first_name %>,</p>
<p>I am very happy to welcome you to techcare. Here is what you still have to do if you did not complete your registration:</p>
<ol>
  <li>Select your coach</li>
  <li>Synchronize your external data</li>
  <li>Check your progress on the dashboard</li>
  <li>Ask your coach and follow his advice.</li>
</ol>
<p>You can tell us your feedback or any idea you could have by clicking on the feedback tab at the right bottom of the dashboard.</p>
<p>Take care ! :-)</p>
<p>William,<br />techcare founder</p>
<p><small><%= link_to "back to techcare", root_path %></small></p>
