<table width="600px" cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF" style="margin-top: 40px; padding-top: 20px;">
  <tr>
    <td>
      <%= link_to root_url, style: "display: block; text-align: center;" do %>
        <%= image_tag("logo-green.png", style: "width: 80px", alt: "") %>
      <% end %>
    </td>
  </tr>
</table>

<table width="600px" cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF" style="margin-bottom: 40px; padding: 20px; font-family: 'Lato', 'Helvetica', 'sans-serif'; font-size: 16px; color: #777777;">
  <tr>
    <td>
      Bonjour <%= @user.first_name %>,<br><br>
      Je suis très heureux de vous accueillir sur TechCare. Notre mission est de vous permettre d'adopter des habitudes saines comme une meilleure alimentaire et plus d'activité physique. Si vous n'avez pas complété votre inscription, voici ce qu'il reste à faire :
      <ol>
        <li>Choisir votre coach</li>
        <li>Synchroniser un ou plusieurs objets connectés</li>
        <li>Visualiser vos progrès sur le tableau de bord</li>
        <li>Discuter avec votre coach et suivre ses conseils</li>
      </ol>
      N'hésitez pas à nous faire part de vos idées ou remarques en cliquant sur l'onglet "feedback" en bas à droite de votre tableau de bord<br><br>
      Prenez soin de vous ! :-)<br><br>
      William,<br />fondateur de techcare<br><br>
      <small><%= link_to "revenir sur techcare", user_goals_url(@locale, @user) %></small>
    </td>
  </tr>
</table>

