/* -------------------------------------
 * SASS code SPECIFIC TO your home page
 * (margin/padding adjustments, background image, etc..)
 * ------------------------------------- */

  #features-section {
    background: darken($brand-color, 6%);

    @media (max-width: $screen-sm) {
      padding: 50px 0 0 0;
    }
    h3 {
      font-family: 'Roboto', 'Open sans', 'sans-serif';
      color: white;
      font-size: 40px;
      font-weight: 300;
      margin: 0;
    }
    h4 {
      font-family: "Roboto";
      color: #fff;
      font-weight: 500;
      font-size: 22px;
      margin-top: 20px;
    }
    p {
      font-family: 'Roboto', 'Open sans', 'sans-serif';
      color: rgba(255, 255, 255, 0.7);
      font-weight: 300;
      font-size: 20px;
      margin-top: 10px;
    }
    .feature {
      padding: 20px 0;
      img {
        width: 100%;
      }
      p {
        font-size: 18px;
        color: #fff;
      }
    }
    .bg-sport {
      background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)),url(image-path('bg-sport.jpg'));
      background-size: cover;
    }
    .bg-nutrition {
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)),url(image-path('bg-nutrition.jpg'));
      background-size: cover;
    }
    .coach {
      .wrapper-img{
        height: 468px;
        overflow: hidden;
      }
    }
    .goals {
      height: 101vh;
      overflow: hidden;
      padding-top: 80px;
      text-align: center;
      img {
        width: 83%;
        margin-top: 90px;
      }
      h4 {
        margin-top: 20px;
      }
    }
    .tracking {
      padding: 84px 0;
      text-align: center;
    }
  }
  #pains-section {
    background-color: #fff;
    padding: 50px 0;
    h3 {
      font-family: 'Roboto', 'Open sans', 'sans-serif';
      font-size: 40px;
      font-weight: 300;
      margin: 0 0 30px 0;
    }
    h4 {
      font-family: "Roboto", 'Open sans', 'sans-serif';
      font-weight: 300;
      font-size: 26px;
      text-align: center;
    }
    .pain {
      margin-bottom: 20px;
      p {
        color: $gray-lighter;
      }
    }
    .picto {
      border-radius: 50%;
      width: 60px;
      height: 60px;
      background: #000;
      color: #fff;
      text-align: center;
      padding-top: 17px;
      font-size: 20px;
      margin: auto;
    }
    .red {
      background-color: #f36161;
    }
    .yellow {
      background-color: #f1d251;
    }
    .blue {
      background-color: #6dbdf1;
    }
    .green {
      background-color: #6dde81;
    }
  }

 .detail-section{
  background-color: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
  padding: 30px;
    .fa {
      font-size: 28px;
      padding-top: 30px;
      padding-bottom: 30px
    }
  }

 /* -------------------------------------
 *                  TOOLS
 * ------------------------------------- */

.tools-section{
  background: white;
  border-bottom: 1px solid #EEEEEE;
  padding: 40px 0;
    h2 {
    font-family: 'Raleway', 'Open sans', 'sans-serif';
    font-size: 42px;
    font-weight: 300;
    }
    p {
      color: black;
      font-weight: 250px;
    }
  .slice-app{
    width: 70%;
    margin: 30px 0;
  }
}
.text-tools{
  width: 100%;
  padding:38px;
  font-family: "Open Sans", "Helvetica", "sans-serif";
  font-size:15px;
  line-height:1.4;
    p {
      color: #777777;
      font-size: 18px;
    }
    h2 {
      color: $brand-color;
    }
}
@media screen and (min-width: 768px) {
  #features-section {
    h3 {
      margin: 50px 0 0 0;
    }
    h4 {
      margin-top: 50px;
    }
    .feature {
      padding: 50px 0 0 0;
      img {
        width: 370px;
        margin-right: 20px;
      }
    }
    .goals {
      padding-top: 80px;
      text-align: right;
      h4 {
        margin-top: 125px;
      }
      img {
        width: 260px;
        margin-top: 0px;
      }
    }
    .coach {
      height: 80vh;
      overflow: hidden;
      .wrapper-img{
        height: auto;
      }
    }
    .tracking {
      text-align: left;
      height: 85vh;
      h4 {
        margin-top: 185px;
      }
      img {
        border-radius: 0 8px 0 0;
        height: 70vh;
        width: auto;
        position: absolute;
        right: 0;
      }
    }
    .bg-nutrition {
      background-image: linear-gradient(to left bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)),url(image-path('bg-nutrition.jpg'));
      background-size: cover;
    }
  }
  #pains-section {
    padding: 60px 0;
    h4 {
      font-size: 22px;
      text-align: left;
    }
    .picto {
      margin: 0;
    }
  }
}

 /* -------------------------------------
 *            COACH SECTION
 * ------------------------------------- */

.coach-section{
  background: white;
  padding: 0 30px 50px 30px;
  color: $gray-light;
  h2{
    font-family: 'Raleway', 'Open sans', 'sans-serif';
    font-size: 42px;
    font-weight: 300;
    color: $brand-color;
    margin: 50px 0;

  }
  h3{
    font-family: 'Raleway', 'Open sans', 'sans-serif';
    font-size: 32px;
    font-weight: 300;
    color: $brand-color;
  }
  h4{
    font-weight: 300;
  }

  .img-circle {
  width: 100%;
  max-width: 250px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  }
}

.newsletter-section{
  padding: 55px 0;
  background: darken($brand-color, 6%);
  color: white;
  h3{
    font-family: 'Raleway', 'Open sans', 'sans-serif';
    font-size: 36px;
    font-weight: 300;
    margin-top: 0;
  }
  .form-control{
    height: 50px;
    font-size: 20px;
    color: $gray-lighter;
    border: none;
    float: left;
    width: 77%;
  }
  .btn{
    line-height: 38px;
    background: darken($brand-color, 15%);
    border: none;
    padding: 6px 26px;
    font-size: 14px;
    text-transform: uppercase;
    &:hover, &:focus{
      background: darken($brand-color, 22%);
    }
  }
}
