<%= simple_form_for [user, measure], remote: true, authenticity_token: true do |f| %>
  <span class="date-field">
    <%= f.datetime_select :date, datetime_separator: t('.at'),
      discard_minute: true, use_short_month: true, order: [:day, :month, :hour] %>h
  </span>
  <span class="date-button">
    <%= f.button :submit, t('.submit'), class: 'btn-techcare measure-update-submit' %>
    <a class="btn btn-default measure-update-cancel">x</a>
  </span>
<% end %>
