<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <h1>Your trainees</h1>

      <% @users.each do |user| %>
        <div class="cols-xs-12 col-md-4">
          <div class="trainee-card text-center">
            <%= image_tag user.picture.url(:medium) %>
            <p><%= link_to user.first_name, user_goals_path(user)%></p>
            <!-- affichier le nombre de message avec read_at = nil -->
            <%if @unread_messages.where(sender: user).count > 0%>
              <p><i class="fa fa-envelope"></i> <%= @unread_messages.where(sender: user).count  %></p>
            <%end%>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>

