<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <h1>Your trainees</h1>

      <% @users.each do |user| %>
        <div class="cols-xs-12 col-md-4">
          <div class="trainee-card text-center">
            <%= image_tag user.picture.url(:medium) %>
            <p><%= link_to user.first_name, user_goals_path(user)%></p>
          </div>

        </div>
      <% end %>

    </div>
    <div class="col-xs-12 col-md-4">
      <div class="chat-card">
        <h2>Chat zone</h2>
        <div class="message">
          <p>
            avatar
            <strong>firstname</strong> à <small>H:M le dd/mm/yyyy</small>
          </p>
          <p>contenu message</p>
        </div>
      </div>
    </div>
  </div>
</div>
