<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <ul>
          <li class="social" title="Home"><a href="http://localhost:3000/">&#8962;</a></li>
            <li class="social" title="Support"><a href="">&#10067;</a></li>
            <li class="social" title="Twitter"><a href="https://twitter.com">&#62217;</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
