<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <ul>
          <li class="social" title="Home">
            <a href="/"><i class="fa fa-home" aria-hidden="true"></i></a>
          </li>
          <li class="social" title="Support">
            <a href="mailto:william@techcare.io"><i class="fa fa-question" aria-hidden="true"></i></a>
          </li>
          <li class="social" title="Facebook">
            <a href="https://www.facebook.com/techcare.io/">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
