<body>
    <!-- Qu'est ce que l'on propose BANNER  -->
    <div class="col-xs-12">
      <h1>Changer vos habitudes et préservez votre santé.</h1>
    </div>
​
​
    <!-- Pourquoi on le propose -->
    <div class="col-xs-12">
      <h2>Title section</h2>
      <h3>Objectifs fixés par votre medecin</h3>
      <h3>Suivi personnalisé</h3>
      <h3>Succes rapides</h3>
      <!-- CTA -->
    </div>
​
    <!-- Features en detail -->
    <div class="col-xs-12">
      <h2>Explore the engine room.</h2>
      <div class="col-xs-12 col-sm-6 col-lg-3">
        <h3>Scan your groceries</h3>
        <p>Logged in your diet may be very long and painful. Thats'why GROCERX offers use your smartphone as a scanner to let your save your entire shop in a minute.</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-3">
        <h3>Get data about your diet</h3>
        <p>Gnothi seauton Know thyself is the best way to change bad habits and change your life. What you can measure you can change it. Studies show that people who log data about them double their chance to reach their goal. With food it is even more important because it is very difficult to know the exact composition of food product. GROCERX use several databases to brings you accurate data about your diet.</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-3">
        <h3>Intelligent personal assistant</h3>
        <p>The GROCERX app learns about your diet and activity. Like what quantity you eat, how well balanced it is, how long do you walk in a day and what the season. It also learns about your shopping habits and can make you groceries shopping more efficient. So while you scan product or synchronize the app with other date sources, GROCERX algorithms are figuring out new advices in the background and so define what health assisant must be. </p>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-3">
        <h3>Empower with other data sources</h3>
        <p>The more data your assistant have an access to, the more accurate and preventive the advices he will be. If we know your morphology, your dna and your behavior so we can adress the perfect assitance to keep your healthy. Like an health insurance.<p>
      </div>
    <div>
