/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}

.no-margin{
  margin: 0;
}

.sessions-new body {
  background-color: #fff;
}

.modal-backdrop.in {
  opacity: 0.7;
}

form {
  .alert {
    margin-bottom: 10px;
    padding: 10px;
  }
  .loader {
    height: 35px;
    display: flex;
    align-items: center
  }
}

h3.past_title {
  color: $gray-lighter;
  font-weight: 300;
  font-size: 22px;
  text-align: center;
  margin: 30px 20px;
  white-space: nowrap;
}
.filter {
  display: flex;
  align-items: center;
  hr {
    width: 100%;
    border-color: $gray-very-light;
  }
}
