/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

// Margins
.marged-top {
  margin-top: 25px;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}

.no-margin{
  margin: 0;
}

.sessions-new body {
  background-color: #fff;
}

.modal-backdrop.in {
  opacity: 0.7;
}

form {
  .alert {
    margin-bottom: 10px;
    padding: 10px;
  }
  .loader {
    height: 35px;
    display: flex;
    align-items: center
  }
  legend {
    border: none;
    margin: 0;
    padding-left: 15px;
    color: $brand-text;
    font-size: 18px;
  }
}

h3.past_title {
  color: $gray-lighter;
  font-weight: 300;
  font-size: 22px;
  text-align: center;
  margin: 30px 20px;
  white-space: nowrap;
}
.filter {
  display: flex;
  align-items: center;
  hr {
    width: 100%;
    border-color: $gray-very-light;
  }
}

.subscriptions-index, .subscriptions-new, .registrations-new {
  body {
    background-color: #fff;
  }
}

.subscriptions-index, .subscriptions-new, .registrations-new {
  h2 {
    font-family: "Lato";
    font-weight: 300;
    font-size: 34px;
    color: $brand-color;
    margin: 30px 0 20px 0;
  }
}

.registrations-new {
  h2 {
    font-size: 45px;
    margin: 50px 0 40px 0;
    line-height: 0.7em;
    font-weight: 400;
    small {
      font-size: 22px;
      font-weight: 300;
    }
  }
  .shared-links {
    margin: 30px 0;
    padding-top: 15px;
    font-size: 13px;
  }
}

.subscriptions-index{
  h2 {
    color: $gray-very-light;
    font-size: 28px;
    margin: 50px 0 0 0;
  }
}
