<div style="background-color: #fff; position: relative; z-index: 1">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-offset-1 col-md-10">
        <div class="row">
          <div class="col-xs-12">
            <h2 class="text-center">Choisissez votre formule d’abonnement</h2>
          </div>
          <div class="col-xs-12 col-md-4">
            <div class="white-card sub monthly">
              <h2>Découverte</h2>
              <img />
              <ul>
                <li>Un coach personnel pour 1 mois</li>
                <li>2 entretiens-bilans par mois</li>
                <li>Objectifs personnalisés</li>
              </ul>
              <p style="color: $brand-color"><strong>15 jours gratuits</strong></p>
              <%= link_to new_subscription_path(plan: "sub-1"), class: "btn btn-techcare" do %>
                <strong>S’abonner à 69€/mois</strong>
              <% end %>
            </div>
          </div>
          <div class="col-xs-12 col-md-4">
            <div class="white-card sub quarterly">
              <h2>Standard</h2>
              <img />
              <ul>
                <li>Un coach personnel pour 3 mois</li>
                <li>2 entretiens-bilans par mois</li>
                <li>Objectifs personnalisés</li>
              </ul>
              <p style="color: $brand-color"><strong>20 jours gratuits</strong></p>
              <%= link_to new_subscription_path(plan: "sub-3"), class: "btn btn-techcare" do %>
                <strong>S’abonner à 54€/mois</strong>
              <% end %>
            </div>
          </div>
          <div class="col-xs-12 col-md-4">
            <div class="white-card sub quarterly">
              <h2>Expert</h2>
              <img />
              <ul>
                <li>Un coach personnel pour 6 mois</li>
                <li>4 entretiens-bilans par mois</li>
                <li>Objectifs personnalisés</li>
              </ul>
              <p style="color: $brand-color"><strong>1 mois gratuit</strong></p>
              <%= link_to new_subscription_path(plan: "sub-6"), class: "btn btn-techcare" do %>
                <strong>S’abonner à 49€/mois</strong>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
