.btn-techcare, .btn-techcare:focus,
.btn-techcare:active {
  background-color: $brand-color;
  color: #fff;
  border: none;
  border-radius: 2px;
  padding: 6px 20px;
  &:hover{
    color: white;
    background: darken($brand-color,10%);
  }
}
