.coach-card{
  float: left;
  .picture{
  height: 150px;
  width: 150px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  float: left;
  margin-right: 20px;
  }
  .info{
    float: left
  }
}

.goal-card{
  background: white;
  padding: 20px;
  margin-bottom: 30px;
  h2{
    margin: 10px 0,
  }
}
