.white-card {
  background-color: white;
  background-color: #FFF;
  padding: 20px;
  margin-top: 20px;
}

.coach-card{
  float: left;
  .picture{
  height: 150px;
  width: 150px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  float: left;
  margin-right: 20px;
  }
  .info{
    float: left
  }
}

.goal-card{
  background: white;
  padding: 40px;
  margin-bottom: 30px;
  h2{
    margin: 10px 0,
  }
  .fullbar{
    height: 12px;
    width: 100%;
    border-radius: 6px;
    background-color: #ebebeb;
    margin-bottom: 10px;
    .fillbar{
    height: 12px;
    background: #01D48F;
    width:10%;
    border-radius: 6px;
    }
  }
}

.chat-card{
  background: white;
  padding: 40px;
  margin: 78px 0 30px 0;
  .coach-info{
    img{
      border-radius: 50%;
    }
  }
  .message{
    border-bottom: 1px solid #F1F1F1;
    padding: 20px 0;
    img {
      width: 30px;
      border-radius: 50%;
    }
    small{  }
  }
  #new_message{
    margin-top: 20px;
  }

}
