
.white-card {
  background-color: #FFF;
  padding: 25px;
  margin: 20px 0;
  .logo {
    display: block;
    float:left;
    height: 150px;
    width: 150px;
    border: 1px solid #000;
    margin: 10px;
    background-size: cover;
    &:hover{
      border: 1px solid $brand-color;
    }
  }
}

.coach-card{
  margin-bottom: 30px;
  h1{
    font-family: "Lato";
    font-weight: 300;
    font-size: 34px;
    color: $brand-color;
    margin-top: 30px;
  }
}
.providers-card {
  color: $gray-light;
  h1{
    font-family: "Lato";
    font-weight: 300;
    font-size: 34px;
    color: #01D48F;
  }
}

.coach-detail{
  padding: 20px 0;
  float: left;
  width: 100%;
  color: $gray-light;
  .picture{
    background-size: cover;
    background-position: center center;
    float: left;
    width: 30%;
    margin-right: 3%;
    img{
      width: 100%;
      border-radius: 50%;
    }
  }
  .info{
    float: left;
    width: 67%;
    h2 {
      font-size: 20px;
      margin-top: 10px;
    }
  }
  &:last-child{
    padding-bottom: 40px;
  }
  &:first-child{
    border-top: none;
  }
}

.goal-card{
  position: relative;
  background: white;
  padding: 40px;
  padding-bottom: 60px;
  margin: 30px 0;
  box-shadow: 0 1px 2px rgba(0,0,0,0.07);
  color: $gray-lighter;
  &:last-child { margin-bottom: 0 }
  h2{
    margin: 10px 0;
    margin-top: 0;
    font-family: 'Lato', 'Open sans', 'sans-serif';
    font-weight: 300;
    color: $brand-color;
  }
  .start-end-value {
    display: flex;
    justify-content: space-between;
  }
  .delete {
    position: absolute;
    right: 4%;
    top: 11%;
    i.fa-times{
      font-size: 20px;
      color: $gray-very-light;
      &:hover{
        color: red;
      }
    }
  }
  .fullbar{
    height: 12px;
    width: 100%;
    border-radius: 6px;
    background-color: #ebebeb;
    margin: auto;
    width: 92%;
    .fillbar{
      height: 12px;
      background: #01D48F;
      width:10%;
      border-radius: 6px;
      position: relative;
      .current-measure{
        position: absolute;
        right: -25px;
        width: 64px;
        border-radius: 6px;
        color: $brand-color;
        line-height: 11px;
        font-size: 12px;
        height: 36px;
        padding: 7px;
        top: 18px;
        border: 1px solid $brand-color;
        strong {
          font-size: 14px;
        }
      }
    }
  }
}

.complete {
  background: #F6FCFA;
  h2 {
    text-decoration: line-through;
  }
}

.chat-card{
  background: white;
  padding: 25px;
  margin: 30px 0;
  box-shadow: 0 1px 2px rgba(0,0,0,0.07);
  color: #777;
  .coach-info{
    float: left;
    padding-bottom: 20px;
    width: 100%;
    img{
      float: left;
      width: 30%;
      max-width: 100px;
      border-radius: 50%;
      margin-right: 10px;
    }
    &-name{
      float: left;
      width: 66%;
      margin-top: 16px;
    }
  }
  .user-info {
    float: left;
    padding-bottom: 20px;
    width: 100%;
    img{
      float: left;
      width: 30%;
      border-radius: 50%;
      margin-right: 10px;
    }
    &-name{
      float: left;
      width: 66%;
      margin-top: 16px;
    }
  }
  .messages {
    position: relative;
    min-height: 350px;
    max-height: 600px;
    height: 100%;
    overflow: auto;
    width: 100%;
  }
  #new_message{
    clear: both;
    padding-bottom: 15px;
    border-bottom: 1px solid $gray-lightest;
    textarea {
      resize: none;
      overflow: hidden;
      height: 80px;
    }
  }
}

.trainees-list {
  margin-top: 40px;
  h1 {
    background: #fff;
    margin-bottom: 1px;
    padding: 15px 20px;
  }
}

.trainee-card{
  background: white;
  margin-bottom: 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  &:hover {
    background-color: lighten($brand-color, 55%);
    cursor: pointer;
  }
  &:last-child{
    margin-bottom: 40px;
  }
  .btn {
    margin-left: 10px;
  }
  p {
    margin: 0;
  }
  img {
    margin-right: 10px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }
  i {
    color: red;
    font: 100px;
  }
}

#add-data-card {
  position: relative;
  background: white;
  margin: 30px 0;
  box-shadow: 0 1px 2px rgba(0,0,0,0.07);
  color: #aaa;
  display: flex;
  .picture {
    width: 21%;
    background-color: #01D48F;
    color: rgba(255, 255, 255, 0.90);
    font-size: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 10;
  }
  .info {
    width: 79%;
    .text {
      padding: 20px;
      padding-bottom: 0;
      h2 {
        margin: 0;
        font-family: 'Lato', 'Open sans', 'sans-serif';
        font-weight: 300;
        color: #777;
        font-size: 27px;
      }
      p {
        margin: 10px 0 3px 0;
      }
    }
    .action-links {
      display: flex;
      padding: 0 10px;
      padding-bottom: 10px;
      a {
        text-transform: uppercase;
        margin: 0 10px 0 0;
        padding: 7px 10px 10px 10px;
        font-weight: 500;
        color: $brand-color;
        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          margin-right: 0;
        }
        &:hover {
          text-decoration: none;
          color: $brand-color-dark;
        }
      }
    }
  }
}

#food-pictures {
  box-shadow: 0 1px 2px rgba(0,0,0,0.07);
  margin: 30px 0;
  padding: 30px 25px 10px 25px;
  color: $gray-lighter;
  overflow: hidden;
  h2{
    width: 100%;
    margin: 20px 0;
    margin-top: 0;
    font-family: 'Raleway', 'Open sans', 'sans-serif';
    font-weight: 300;
    color: $brand-color;
  }

  .food_picture-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    #prev_pic, #next_pic {
      display: none;
    }
    .food-picture-list {
      display: flex;
      flex-direction: column;
      position: relative;
      z-index: 0;
      right: 0;
      -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
      transition: width 2s;
      figure {
        margin-bottom: 10px;
        &:last-child{
          margin-bottom: 0;
        }
        img {
          width: 100%;
          max-width: 300px;
        }
      }
      figcaption {
        font-size: 14px;
        padding-top: 3px;
      }
    }
  }
  form {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid $gray-lightest;
    padding-top: 10px;
    #food_picture_picture {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
    }
    .food_picture_picture {
      float: left;
      margin: 0;
      color: $blue;
      display: flex;
      label {
        font-weight: normal;
        display: inline-block;
        padding: 7px 0;
        cursor: pointer;
        margin: 0;
        text-align: left;
        &:hover {
          color: $blue-dark;
        }
        abbr {
          display: none;
        }
      }
      label.withFile {
        cursor: auto;
      }
      .fa {
        padding-left: 8px;
        padding-top: 13px;
        cursor: pointer;
        &:hover {
          color: $blue-dark;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  #food-pictures {
    .food_picture-container {
      display: flex;
      flex-direction: row;
      .food-picture-list {
        flex-direction: row;
        width: 100%;
        figure {
          margin-right: 10px;
          &:first-child {
            margin-left: 0;
          }
          &:last-child{
            margin-right: 0;
          }
          img {
            width: 132px;
          }
        }
      }
    }
    #prev_pic, #next_pic {
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      z-index: 10;
      width: 40px;
      height: 132px;
      background-color: rgba(255,255,255,0.4);
      button {
        border: 1px solid $brand-color;
        background: #fff;
        color: $brand-color;
        font-weight: bold;
        font-size: 20px;
        height: 30px;
        width: 30px;
        border-radius: 4px;
      }
      &:hover{
        text-decoration: none;
        background-color: rgba(255,255,255,0.8);
        button {
          background: $brand-color;
          color: #fff;
        }
      }
      &.active {
        display: flex;
      }
    }
    #next_pic {
      right: 40px;
    }
  }
}
