#new_goal, #new_measure {
  abbr {
    display: none;
  }
  select {
    text-transform: capitalize;
  }
  option {
    text-transform: capitalize;
  }
}

#payment-form {
  margin-top: 10px;
  label {
    display: none;
  }
}
