.message{
  clear: both;
  border-bottom: 1px solid #F1F1F1;
  padding: 20px 0;
  padding-right: 5px;
  float: left;
  width: 100%;
  .header{
    float: left;
    width: 80%;
    img{
      float:left;
      width: 40px;
      border-radius: 50%;
      margin-right: 5px;
    }
    strong, small{
      float: left;
    }
    small{
      color: #bbb;
      font-size: 11px;
    }
  }
  .menu{
    display: none;
    float:left;
    width: 20%;
    text-align: right;
    a{
      display: hidden;
      color: #777;
    }
  }
  p{
    float:left;
    width: 100%;
  }
}
