.message{
  clear: both;
  border-bottom: 1px solid #F5F5F5;
  padding: 15px 5px;
  padding-right: 5px;
  float: left;
  width: 100%;
  &:hover {
    background-color: #FAFDFC;
  }
  p {
    margin: 0;
  }
  .header{
    float: left;
    width: 80%;
    margin-bottom: 5px;
    img{
      float:left;
      width: 40px;
      border-radius: 50%;
      margin-right: 5px;
    }
    strong, small{
      float: left;
    }
    small{
      color: #bbb;
      font-size: 11px;
    }
  }
  .menu{
    display: none;
    float:left;
    width: 20%;
    text-align: right;
    a{
      display: hidden;
      color: #777;
      cursor: pointer;
    }
  }
  p{
    float:left;
    width: 100%;
  }
}
