<div id="add-data-card">
  <div class="picture">
    <i class="fa fa-exclamation-triangle"></i>
  </div>
  <div class="info">
    <div class="text">
      <h2><%= t('.add-data-title') %></h2>
      <p><%= t('.add-data-description') %></p>
    </div>
    <div class="action-links">
      <%= link_to t('.add-data-connect'), providers_path %>
      <%= link_to t('.add-data-close') %>
    </div>
  </div>
</div>
