<div id="add-data-card">
  <div class="picture">
    <i class="fa fa-exclamation-triangle"></i>
  </div>
  <div class="info">
    <div class="text">
      <h2>Connectez vos objets ou applications</h2>
      <p>Pour améliorer l'efficacité de votre suivi, il est conseillé de synchoniser vos objets connectés ou votre application favorite.</p>
    </div>
    <div class="action-links">
      <%= link_to "Ajouter une source", providers_path %>
      <%= link_to "Fermer" %>
    </div>
  </div>
</div>
