<figure class="picture" id="food-picture-<%= fp.id %>">
  <%= link_to user_food_picture_path(user, fp), remote: true,
      data: { toggle: "modal", target: "#food-pic-modal" } do %>
    <%= image_tag fp.picture.url(:thumb) %>
  <% end %>
  <figcaption>
    <div class="date">
      <p><%= l(fp.measure.date, format: :food_pic) %></p>
      <a><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
    </div>
  </figcaption>
</figure>
