<html>
  <head>
    <style type="text/css">
      .mail {
        background: #efefef;
      }
      .mail .container {
        max-width: 600px;
        margin: auto;
        background: #fff;
        padding: 20px;
        font-family: "Lato", "Helvetica", "sans-serif";
        font-size: 15px;
        color: #777;
      }
    </style>
  </head>
  <body class="mail">
    <div class="container">c
      <table width="100%" height="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#EFEFEF">
        <tr>
           <td valign="top" align="center">
            <%= yield %>
           </td>
        </tr>
     </table>
      <%= link_to root_url, style: "display: block; text-align: center;" do %>
        <%= image_tag("logo-green.png", style: "width: 80px") %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
